.img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.bio {
  margin: 20px auto;
  width: 300px;
}

.bio::first-line {
  font-weight: bold;
  font-size: 1em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.content {
  text-align: center;
}
